

/* REGARDLESS OF SIZE */
html {
    font-size: 15px;
}

/* Type will scale with document */
h1 {
    font-size: 6vw;
  }
  h2 {
    font-size: 3vw;
  }
  h3 {
    font-size: 2vw;
  }
  h4 {
    font-size:1.5vw;
  }

  .about_h2 {
    font-size:4vw;
  }

  .about_h4 {
    font-size:3vw
  }

/* MOBILE */
body {
    background-color: white;
    
  }

/* Header */
.header {
    width: 100%;
    position: relative;
    padding-bottom: 20px;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr; /*Reactive sizing for these columns */
    column-gap: 10% /*Reactive sizing for space between the columns */
}

.headerImage {
    width:100%
}

/*Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownTitle {
  display:inline
}

.dropdown-content {
  display: none;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f9f9;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

/*Banner Image */
.bannerContainer {
    position: relative;
    text-align: center;
}

.bannerImage {
  width:100%
}

.bannerText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  font-size:6vw;
}

/*Artist Images */
.imageContainer {
    display: flex;
    width:100%;
    margin:auto;
    justify-content: space-between;
    flex-direction: column;
    padding-top:5%; /* Reactive padding size for different screen sizing */
    padding-bottom:5%;
}

.artistImage {
    width:80%
}

/*About */
.aboutGrid {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  border:2px solid black;
  padding-top:5%;
  padding-bottom:5%;
}

.aboutContainer {
  grid-column-start: 1;
  grid-column-end: 6;
  position: relative;
  text-align: left;
  padding-left: 5%;
  padding-right: 5%; 
}

.aboutText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:6vw;
}

/*Footer */
.footerContainer {
  display:grid;
  grid-template-columns: 5% 30% 65%;
}
.socialMediaLink {
  grid-column-start: 2;
  grid-column-end: 3;
  display:flex;
  justify-content: space-between;
}
  /* DESKTOP CHANGES*/ 
  @media only screen and (min-width: 500px) {
      
    /* Header */
    nav {
      grid-template-columns: 1fr 2fr; /*Reactive sizing for these columns */
   }

    .dropdownTitle {
      display:none;
    }
    
    .dropdown-content {
      display: flex;
      flex-direction: row;
      width:100%;
      /*align-items: center;*/
      justify-content: space-between;
      min-width: none;
      box-shadow: none;
      padding: none;
      z-index: none;
    }

    /* Banner Image */ 
    h1 {
      font-size:5vw;
    }
  
    /* Artist Images */
      .imageContainer {
          flex-direction: row;
      }

      .artistImage {
          width:30%
      }

    /*About */
    .aboutContainer {
      grid-column-start: 2;
      grid-column-end: 5;
      padding-left: 0px;
      padding-right: 0px; 
    }

    .about_h2 {
      font-size:3vw;
    }
  
    .about_h4 {
      font-size:1.5vw
    }
  
  }



  

  
