

/* REGARDLESS OF SIZE */
html {
    font-size: 15px;
}

/* Type will scale with document */
h1 {
    font-size: 5vw;
  }
  h2 {
    font-size: 3vw;
  }
  h3 {
    font-size: 2vw;
  }

/* MOBILE */
body {
    background-color: white;
    
  }

/* Header */
.header {
    width: 100%;
    position: relative
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr; /*Reactive sizing for these columns */
    column-gap: 10% /*Reactive sizing for space between the columns */
}

.headerImage {
    width:100%
}

/*Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownTitle {
  display:inline
}

.dropdown-content {
  display: none;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f9f9;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

/*Artist Images */
.imageContainer {
    display: flex;
    width:100%;
    margin:auto;
    justify-content: space-between;
    flex-direction: column;
}

.artistImage {
    width:80%
}

  /* DESKTOP CHANGES*/ 
  @media only screen and (min-width: 500px) {
    body {
        background-color: lightblue;
      }
      
    /* Header */
    nav {
      grid-template-columns: 1fr 2fr; /*Reactive sizing for these columns */
   }

    .dropdownTitle {
      display:none;
    }
    
    .dropdown-content {
      display: flex;
      flex-direction: row;
      width:100%;
      /*align-items: center;*/
      justify-content: space-between;
      background-color: lightblue;
      min-width: none;
      box-shadow: none;
      padding: none;
      z-index: none;
    }
  
    /* Artist Images */
      .imageContainer {
          flex-direction: row;
      }

      .artistImage {
          width:30%
      }
  
  }



  

  
